.turn{
  text-align: center;
  padding: 10px;
  font-size: 350%;
  margin: auto;
}

.info{
  width: 100%;
  margin-top: 50px;
  margin: auto;
  text-align: center;
}

.text{
  text-align: center;
  padding: 10px;
}

.MarginTop{
  margin-top: 100px;
}
